<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<%= link_to "Edit article", edit_article_path(@article.id) %>

<%= link_to "Back to articles", articles_path %>

<%= link_to "Delete article", article_path(@article.id), method: "DELETE", data: { confirm: "Are you sure?" } %>
